# Test Report
### Aggregated Results
| | Count |
| - | ---:|
| **Tests** | 25 |
| **Failures** | 11 |
| **Errors** | 0 |

## gameboy
| | Count |
| - | ---:|
| **Tests** | 10 |
| **Failures** | 0 |
| **Errors** | 0 |

| Test | Result |
| - | ---:|
| cpu::tests::cb_opcode_timing_0 | ✅ |
| cpu::tests::cb_opcode_timing_1 | ✅ |
| cpu::tests::cb_opcode_timing_10 | ✅ |
| cpu::tests::cb_opcode_timing_100 | ✅ |
| cpu::tests::cb_opcode_timing_101 | ✅ |
| cpu::tests::cb_opcode_timing_102 | ✅ |
| cpu::tests::cb_opcode_timing_104 | ✅ |
| cpu::tests::cb_opcode_timing_105 | ✅ |
| cpu::tests::cb_opcode_timing_106 | ✅ |
| cpu::tests::cb_opcode_timing_103 | ✅ |

## gameboy::acid
| | Count |
| - | ---:|
| **Tests** | 2 |
| **Failures** | 1 |
| **Errors** | 0 |

| Test | Result |
| - | ---:|
| cgb_acid2 | ✅ |
| dmg_acid2 | ❌ |

## gameboy::blargg
| | Count |
| - | ---:|
| **Tests** | 13 |
| **Failures** | 10 |
| **Errors** | 0 |

| Test | Result |
| - | ---:|
| cpu_instrs::cpu_02 | ✅ |
| cpu_instrs::cpu_06 | ❌ |
| cpu_instrs::cpu_08 | ❌ |
| cpu_instrs::cpu_07 | ❌ |
| cpu_instrs::cpu_09 | ❌ |
| cpu_instrs::cpu_05 | ❌ |
| cpu_instrs::cpu_04 | ❌ |
| cpu_instrs::cpu_01 | ❌ |
| cpu_instrs::cpu_03 | ❌ |
| cpu_instrs::cpu_11 | ❌ |
| cpu_instrs::cpu_10 | ❌ |
| instr_timing::instr_timing | ✅ |
| mem_timing::mem_timing | ✅ |

